<ul class="nav nav-sidebar">
    <li class="active"><a href="#">概览信息 <span class="sr-only">(current)</span></a></li>
    <li><a class="menu-a firstNav" href="../../helpcenter/" style="color:black"><span
            class=" 	glyphicon glyphicon-home"></span>系统首页</a></li>
    <li><a class="menu-a firstNav" href="../../helpcenter/preliminaryBasis" style="color:black"><span
            class="glyphicon glyphicon-modal-window"></span>帮助入门信息</a></li>
    <li><a class="menu-a firstNav" href="../../helpcenter/questionBasis" style="color:black"><span
            class="glyphicon glyphicon-user"></span>个人问题信息</a></li>
    <li><a class="menu-a firstNav" href="../../helpcenter/videosControl" style="color:black"><span
            class="glyphicon glyphicon-film"></span>入门视频信息</a></li>
    <li><a class="menu-a firstNav" href="../../helpcenter/booksControl" style="color:black"><span
            class="glyphicon glyphicon-book"></span>入门手册信息</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li class="active"><a href="#">问题回复 <span class="sr-only">(current)</span></a></li>
    <li><a class="menu-a firstNav" href="../../helpcenter/questionBasisReply" style="color:black"><span
            class="glyphicon glyphicon-wrench"></span>问题回复管理</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li class="active"><a href="#"> <span class="sr-only">(current)</span></a></li>
</ul>







<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <a href="../../helpcenter/questionBasis">
            <img src="../../helpcenter/static/images/wenti.jpg"
                 width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"
                 href="../../helpcenter/questionBasis" >
        </a>
        <h4>问题管理</h4>
        <!--<span class="text-muted">Something else</span>-->
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <a href="../../helpcenter/videosControl">
            <img src="../../helpcenter/static/images/shipin.jpg"
                 width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"
                 href="../../helpcenter/videosControl">
        </a>
        <h4>入门视频管理</h4>
        <!--<span class="text-muted">Something else</span>-->
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <a href="../../helpcenter/booksControl">
            <img src="../../helpcenter/static/images/shouce.jpg"
                 width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"
                 href="../../helpcenter/booksControl">
        </a>
        <h4>入门手册管理</h4>
        <!--<span class="text-muted">Something else</span>-->
    </div>
</div>