<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <style>
        .col-center-block {
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
        }

        /*左侧菜单条目鼠标滑过之后变大*/
        .menu-a {
            font-size: 16px;
        }

        .menu-a:hover {
            font-size: 18px;
        }

        td {
            height: 40px;
            width: 50%;
            text-align: left;
        }

        form fieldset {
            border: 0;
            text-align: center;
        }

        label {
            display: inline-block;
            width: 100px;
            text-align: right;
        }

        input {
            width: 100px;
        }

        #button input {
            width: 60px;
            position: relative;
            left: 30%;
        }

        .W120 .th-inner {
            width: 120px !important;
        }

        .W80 .th-inner {
            width: 80px !important;
        }

        .W60 .th-inner {
            width: 60px !important;
        }

        .W28 .th-inner {
            width: 28px !important;
        }

        .W150 .th-inner {
            width: 150px !important;
        }

        .fileinput-button {
            position: relative;
            display: inline-block;
        }

        .fileinput-button input {
            position: absolute;
            right: 0px;
            top: 0px;
        }

        .ace-file-input {
            width: 260px;
            margin-left: 154px;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../helpcenter/static/images/favicon.jpg"></link>
    <title>学习平台-用户帮助中心</title>
    <!--公共js，包括获得项目根路径等等-->
    <script type="text/javascript" src="../../helpcenter/static/common.js"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../../helpcenter/static/css/bootstrap.min.css"></link>
    <!--表单table处理-->
    <link rel="stylesheet" href="../../helpcenter/static/bootstrap3-editable/css/bootstrap-editable.css"></link>
    <link rel="stylesheet" href="../../helpcenter/static/login/bootstrap-table.css"/>
    <link rel="stylesheet" href="../../helpcenter/static/login/editable-element.css"/>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link type="text/css" href="../../helpcenter/static/docs/assets/css/ie10-viewport-bug-workaround.css"
          rel="stylesheet">
    <link rel="stylesheet" href="../../helpcenter/static/css/style.css">
    <!-- Custom styles for this template -->
    <link href="../../helpcenter/static/docs/examples/dashboard/dashboard.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="../../helpcenter/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../helpcenter/static/extensions/export/html2canvas.js"></script>
    <script type="text/javascript" src="../../helpcenter/static/login/index.js"></script>
    <script type="text/javascript" src="../../helpcenter/static/login/message.js"></script>
    <script type="text/javascript" src="../../helpcenter/static/login/aes.js"></script>
    <script type="text/javascript" src="../../helpcenter/static/login/pad-nopadding-min.js"></script>
    <script type="text/javascript" src="../../helpcenter/static/login/mode-ecb-min.js"></script>
    <script type="text/javascript" src="../../helpcenter/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../helpcenter/static/login/editable-element.js"></script>
    <script type="text/javascript"
            src="../../helpcenter/static/docs/assets/js/ie8-responsive-file-warning.js"></script>
    <!--[endif]-->
    <script type="text/javascript"
            src="../../helpcenter/static/docs/assets/js/ie-emulation-modes-warning.js"></script>
    <script type="text/javascript"
            src="../../helpcenter/static/extensions/addrbar/bootstrap-table-addrbar.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--退出登陆-->
    <link href="../../helpcenter/static/login/login-register.css" rel="stylesheet"/>
    <script src="../../helpcenter/static/login/login-register.js" type="text/javascript"></script>
    <!--[if lt IE 9]-->
    <script type="text/javascript" src="../../helpcenter/static/login/html5shiv.min.js"></script>
    <script type="text/javascript" src="../../helpcenter/static/login/respond.min.js"></script>
    <!--时间选择器相关js和cs-->
    <!-- 时间选择器样式表 -->
    <link href="../../helpcenter/static/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet">
    <!-- 时间选择器前置脚本 -->
    <script src="../../helpcenter/static/login/moment-with-locales.min.js"></script>
    <!-- 时间选择器核心脚本 -->
    <script src="../../helpcenter/static/js/bootstrap-datetimepicker.min.js"></script>
    <!--[endif]-->
    <script type="text/javascript" src="../../helpcenter/static/login/bootstrap-table.js"></script>
    <script type="text/javascript" src="../../helpcenter/static/locale/bootstrap-table-zh-CN.js"></script>
    <script type="text/javascript"
            src="../../helpcenter/static/login/bootstrap-editable.js"></script>
    <script type="text/javascript"
            src="../../helpcenter/static/extensions/editable/bootstrap-table-editable.js"></script>
    <!--bootstrap中文包避免后台返回给前台数据中文乱码-->
    <script type="text/javascript"
            src="../../helpcenter/static/locale/bootstrap-table-zh-CN.js"></script>
    <script type="text/javascript" src="../../helpcenter/static/extensions/export/jquery.base64.js"></script>
    <script type="text/javascript" src="../../helpcenter/static/extensions/export/bootstrap-table-export.js"></script>
    <script type="text/javascript" src="../../helpcenter/static/extensions/export/tableExport.js"></script>
    <!--最后引用的公共js建立在应用了其他js的基础之上引用的-->
    <script type="text/javascript" src="../../helpcenter/static/js/lastCommon.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-treegrid/0.2.0/css/jquery.treegrid.min.css">
    <script src="../../helpcenter/static/extensions/treegrid/bootstrap-table-treegrid.js"></script>
    <script src="../../helpcenter/static/vakata-jstree/vakata-jstree-bc5187e/src/jstree.js"
            type="text/javascript"></script>
    <script src="../../helpcenter/static/vakata-jstree/vakata-jstree-bc5187e/src/intro.js"
            type="text/javascript"></script>
    <link href="../../helpcenter/static/win/window/window.css" rel="stylesheet">
    <script src="../../helpcenter/static/win/window/window.js"></script>

    <!--<link rel="stylesheet" href="../../helpcenter/static/css/bootstrap.css">-->
    <!--<link rel="stylesheet" href="../../helpcenter/static/css/bootstrap-theme.css">-->
    <!--<script src="bootstrap/jquery-1.10.2.js"></script>-->
    <script src="../../helpcenter/static/js/bootstrap.js"></script>
    <link href="../../helpcenter/static/file_input/fileinput.css" rel="stylesheet">
    <script src="../../helpcenter/static/file_input/fileinput.min.js"></script>
    <script src="../../helpcenter/static/file_input/fileinput_locale_zh.js"></script>

    <script src="../../helpcenter/static/file_input/ace.js"></script>
    <script src="../../helpcenter/static/file_input/ace-elements.min.js"></script>
    <script src="../../helpcenter/static/file_input/elements.fileinput.js"></script>


</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <span id="uu" hidden="hidden">${sessionScope.sessionUserId}</span>
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/helpcenter/" style="font-size: 32px;line-height: 25px;">学习平台-帮助信息管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a onclick="loginUpdAjax()">修改密码</a></li>
                <li><a onclick="loginOutAjax()">退出登录</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="modal fade" id="addEditPreliminaryDiv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel0">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myQuestionModalLabel">
                    修改入门信息
                </h4>
            </div>
            <div class="">
                <div class="modal-header"
                     style="">
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="upd_preliminary_id" id="upd_preliminary_id_label"
                                       class="control-label">入门id:</label>
                                <!--//用于实际展示-->
                                <input type="text" id="upd_preliminary_id" name="upd_preliminary_id"
                                       readonly="readonly" style="width:57.3%">

                                <input type="text" id="upd_question_content_short" name="upd_question_content_short"
                                       hidden="hidden">
                                <input type="text" id="upd_id" name="upd_id"
                                       hidden="hidden">
                                <!--//用于后台传值...创建人-->
                                <input type="text" id="old_creation_per" name="old_creation_per" hidden="hidden">
                            </div>
                            <div class="form-group">
                                <label for="upd_preliminary_name" id="upd_question_type_name_label"
                                       readonly="readonly"
                                       class="control-label">入门名称:</label>
                                <!--//用于实际展示-->
                                <input type="text" id="upd_preliminary_name" name="upd_preliminary_name"
                                       readonly="readonly" maxlength="22">
                                <label for="upd_status" class="control-label">有效标志:</label>
                                <select id="upd_status" name="upd_status" value="${upd_status}" style="width: 18.5%; ">
                                    <option value=''>请选择</option>
                                    <option value='0'>有效</option>
                                    <option value='1'>无效</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="updQuestion" hidden="hidden"
                                onclick="updSave()">保存
                        </button>
                        <button type="button" class="btn btn-primary" id="addPreliminary" hidden="hidden"
                                onclick="addSave()">保存
                        </button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="detailPreliminaryDiv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                </button>
                <h4 class="modal-title" id="detailMyQuestionModalLabel">
                    入门相关附件新增
                </h4>
            </div>
            <div class="">
                <div class="modal-header"
                     style="">
                    <div class="modal-body">
                        <form id="Form" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="detail_preliminary_id" id="detail_preliminary_id_lable"
                                       class="control-label">入门信息id:</label>
                                <!--//用于实际展示-->
                                <input type="text" id="detail_preliminary_id" name="detail_preliminary_id"
                                       readonly="readonly" style="width:72%">
                            </div>
                            <div class="form-group">
                                <label for="detail_preliminary_name" class="control-label">入门信息描述:</label>
                                <textarea type="text" id="detail_preliminary_name" name="detail_preliminary_name"
                                          style="width: 72%; height: 60%;" readonly="readonly"></textarea>
                            </div>

                            <div class="form-group">
                                <label class="control-label">选择文件:</label>
                                <br>
                                <tr>
                                    <td style="text-align: left;padding-left:20px">
                                        <c:if test="${pd == null || pd.PIC == '' || pd.PIC == null }">
                                            <input type="file" id="file_self" name="file_self" onchange="fileType(this)"
                                                   style="width:120%"/>
                                        </c:if>
                                    </td>
                                </tr>
                            </div>

                            <div class="form-group">
                                <label for="detail_preliminary_status" class="control-label"
                                       style="width:20%">文件有效标志:</label>
                                <select id="detail_preliminary_status" name="detail_preliminary_status"
                                        value="${detail_preliminary_status}" style="width: 18.5%;" disabled="disabled">
                                    <option value=''>请选择</option>
                                    <option value='0'>有效</option>
                                    <option value='1'>无效</option>
                                </select>

                            </div>
                            <div class="form-group" id="detail_fil_path_div">
                                <input type="text" id="detail_fil_path" name="detail_fil_path"
                                       readonly="readonly" style="width:72%" disabled="disabled">
                            </div>
                            <div class="form-group">
                                <label for="detail_fil_size" id="detail_fil_size_lable"
                                       class="control-label">文件大小(兆)</label>
                                <!--//用于实际展示-->
                                <input type="text" id="detail_fil_size" name="detail_fil_size"
                                       readonly="readonly" style="width:28%">
                                <label for="detail_fil_type" id="detail_fil_type_lable"
                                       class="control-label">文件格式</label>
                                <!--//用于实际展示-->
                                <input type="text" id="detail_fil_type" name="detail_fil_type"
                                       readonly="readonly" style="width:28%">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="addVideoButton"
                                        onclick="addSaveVideo()">保存
                                </button>
                                <button type="button" class="btn btn-primary" id="addBookButton"
                                        onclick="addSaveBook()">保存
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" id="menuDiv">
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="/helpcenter/" style="font-size:30px">首页</a>
                    </li>
                </ul>
            </div>
            <div class="row placeholders">
                <div class="col-sm-12">
                    <form class="form-inline query_ipt">
                        <div class="row">
                            <div class="col-sm-10" align="left">
                                <form id="queryinput">
                                    <tr align="left"><span class="form_til">创建时间</span></td>
                                        <td><span class="input-icon">
												     <input type="text" id="creat_dt_begin" name="creat_dt_begin"
                                                            class="date-picker">
												     <i class="icon-calendar blue"></i>
											        </span></td>
                                        —
                                        <td><span class="input-icon">
												     <input type="text" id="creat_dt_end" name="creat_dt_end"
                                                            class="date-picker">
												     <i class="icon-calendar blue"></i>
											        </span></td>
                                    </tr>
                                    <br>
                                    <tr align="left">
                                        <span class="form_til">更新时间</span>
                                        <td><span class="input-icon">
												     <input type="text" id="update_dt_begin" name="update_dt_begin"
                                                            class="date-picker">
												     <i class="icon-calendar blue"></i>
                                        </span></td>
                                        —
                                        <td><span class="input-icon">
												     <input type="text" id="update_dt_end" name="update_dt_end"
                                                            class="date-picker">
												     <i class="icon-calendar blue"></i>
											        </span></td>
                                    </tr>
                                    <tr align="left">
                                        <td><span class="form_til">有效标志</span></td>
                                        <td><select id="selest_status" name="selest_status" value="${selest_status}"
                                                    style="width:8.5%;">
                                            <option value=''>请选择</option>
                                            <option value='0'>有效</option>
                                            <option value='1'>无效</option>
                                        </select></td>
                                    </tr>
                                </form>
                            </div>
                            <div class="col-sm-2" align="left">
                                <button type="button" class="btn btn-primary"
                                        onclick="queryList()">查询
                                </button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <h2 class="sub-header">入门信息列表</h2>
            <div id="toolbar">
                <button id="btn_add" type="button" class="btn btn-default" onclick="addPreliminary();">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                </button>
                <!--<button id="btn_upload" type="button" class="btn btn-default" onclick="batchUploadShow();">-->
                <!--<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>批量上传-->
                <!--</button>-->
                <button id="btn_edit" type="button" class="btn btn-default" onclick="editQuestion();">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>选择修改
                </button>
                <button id="btn_delete" type="button" class="btn btn-default" onclick="delPreliminary();">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除入门信息
                </button>
                <button id="btn_add1" type="button" class="btn btn-default" onclick="addPreliminaryBook();">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增手册
                </button>
                <button id="btn_add2" type="button" class="btn btn-default" onclick="addPreliminaryVideo();">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增视频
                </button>
            </div>
            <div>
                <!-- /.入门信息列表列表 -->
                <table id="preliminaryBasisTable" class="table"></table>
            </div>
        </div>
    </div>
</div>
<div id="updPassWdDiv">
</div>

</body>
<script src="../../helpcenter/static/login/file-input.js"></script>
<script>
    //保存
    function addSaveBook() {
        if ($("#file_self").val() == ""
            || document.getElementById("file_self").files[0] == '请选择文件') {
            alertWarning("请选择文件");
            return false;
        }
        mysubmitVideoOrBook(document.getElementById("file_self"), "0");
    }

    //保存
    function addSaveVideo() {
        if ($("#file_self").val() == ""
            || document.getElementById("file_self").files[0] == '请选择文件') {
            alertWarning("请选择文件");
            return false;
        }
        mysubmitVideoOrBook(document.getElementById("file_self"), "1");
    }


    function mysubmitVideoOrBook(obj, type) {
        if (!getSize(obj)) {
            return;
        }
        var filePath = getPath(obj);
        var sprit = "\\";
        var isMac = /macintosh|mac os x/i.test(navigator.userAgent);
        if (isMac) {
            sprit = "/";
        }
        var fileName = obj.value.substr(obj.value.lastIndexOf(sprit) + 1, obj.value.lastIndexOf("."));
        var code = $("#detail_preliminary_id").val();
        if ("" == code || null == code) {
            if ("1" == type) {
                alertWarning('提示信息：本条入门信息有误！请更换其他入门信息添加视频！');
            } else if ("0" == type) {
                alertWarning('提示信息：本条入门信息有误！请更换其他入门信息添加手册！');
            }
            return;
        }
        if ("" == obj.value || null == obj.value) {
            alertWarning('提示信息：文件名字不能为空！');
            return;
        }
        var detailPreliminaryStatus = $("#detail_preliminary_status").val();
        var detailFilSizeLable = $("#detail_fil_size").val();
        var detailFilTypeLable = $("#detail_fil_type").val();
        var detailQuestionContent = $("#detail_preliminary_name").val();
        if (detailQuestionContent.length > 8) {
            detailQuestionContent = detailQuestionContent.substring(0, 9) + "...";
        }
        var typeName = "手册";
        var fileType = obj.value.substr(obj.value.lastIndexOf("."));
        var addUrl = "addVideos";
        if ("1" == type) {
            typeName = "视频";
            if (fileType != '.WMV' && fileType != '.wmv' && fileType != '.AVI' && fileType != '.mov' && fileType != '.rmvb' && fileType != '.rm'
                && fileType != '.FLV' && fileType != '.mp4' && fileType != '.3GP' && fileType != '.avi'
                && fileType != '.MOV' && fileType != '.RMVB' && fileType != '.RM' && fileType != '.flv'
                && fileType != '.MP4' && fileType != '.3gp') {
                alertWarning('提示信息：对不起，您上传的文件格式不是常见视频格式！');
                return;
            }
        } else if ("0" == type) {
            addUrl = "addBooks";
            if (fileType != '.TXT' && fileType != '.DOC' && fileType != '.PDF' && fileType != '.pdf'
                && fileType != '.XLS' && fileType != '.PPT' && fileType != '.DOCX' && fileType != '.XLSX'
                && fileType != '.PPTX' && fileType != '.txt' && fileType != '.doc' && fileType != '.xls'
                && fileType != '.ppt' && fileType != '.docx' && fileType != '.xlsx' && fileType != '.pptx') {
                alertWarning('提示信息：对不起，您上传的文件格式不是常见文档格式！');
                return;
            }
        }
        win.confirm('系统提示', '警告！您确定要入门信息概要为！【' + detailQuestionContent + '】的信息增加一个' + typeName + '么？', function (r) {
            if (!r) {
                return;
            }
            var id = $("#detail_preliminary_id").val();
            var key = CryptoJS.enc.Utf8.parse(ALLENCRYPTCODE);
            // Encrypt
            //把私钥转换成16进制的字符串
            var encrypted = CryptoJS.AES.encrypt(id, key, {
                mode: CryptoJS.mode.ECB,
                padding: CryptoJS.pad.Pkcs7
            });
            id = encrypted.toString();
            var form = document.getElementById('Form'),
            formData = new FormData(form);
            $.ajax({
                type: "POST",
                url: "webApp/addFile",
                processData: false,  //必须false才会避开jQuery对 formdata 的默认处理
                contentType: false,  //必须false才会自动加上正确的Content-Type
                data: formData,
                success: function (data, status) {
                    // var jsonObj = JSON.parse(data);
                    if (data.code == "1000") {
                        $.ajax({
                            type: "POST",
                            url: "webApp/" + addUrl + "",
                            contentType: "application/json",
                            data: JSON.stringify({
                                "id": data.id,
                                "preliminaryid": id,
                                "file_name": fileName,
                                "file_type": detailFilTypeLable,
                                "file_size": detailFilSizeLable,
                                "file_path": data.file_path,
                                "status": detailPreliminaryStatus

                            }),
                            success: function (data, status) {
                                var jsonObj = JSON.parse(data);
                                if (status == "success" && jsonObj.code == "1000") {
                                    $('#detailPreliminaryDiv').modal('hide');
                                    alertInfo('提示信息：添加入门' + typeName + '完成，您可以到入门' + typeName + '列表查看您的' + typeName + '信息。');
                                } else if (jsonObj.code == "9999") {
                                    /*session超时*/
                                    loginOutAjax();
                                } else if (jsonObj.code == "1001") {
                                    /*session超时*/
                                    alertInfo('提示信息：操作失败。');
                                }
                            },
                            error: function () {
                                alertDanger('提示信息：发生系统错误,请联系运维人员进行排查。！');
                            },
                            complete: function () {
                            }
                        });
                    } else if (jsonObj.code == "9999") {
                        /*session超时*/
                        loginOutAjax();
                    }
                },
                error: function () {
                    alertDanger('提示信息：发生系统错误,请联系运维人员进行排查。！');
                },
                complete: function () {
                }
            });
        });
    }

    //全局的类别json对象
    var arrQuestionJson = [];
    //tree change时事件
    $('#questionTree').on("changed.jstree", function (e, data) {
        var sonJson = getInputWithJson(data.node.id);
        $("#id").val(sonJson.id);
        $("#question_type_id").val(sonJson.id);
        $("#question_type_id_label").html("类别id");
        document.getElementById("question_pid").readOnly = false;
        $("#question_pid").val(sonJson.parentId);
        $("#name").val(sonJson.name);
        $("#oldname").val(sonJson.name);
        $("#status").val(sonJson.status);
    });

    /*新增入门基本信息*/
    function addSave() {
        var updPreliminaryName = $("#upd_preliminary_name").val();
        if ("" == updPreliminaryName || null == updPreliminaryName) {
            alertWarning('提示信息：入门名称信息是必输项！');
            return;
        }
        var name = $("#upd_preliminary_name").val();
        if (name.length > 8) {
            name = name.substring(0, 9);
        }
        win.confirm('系统提示', '警告！您确定要增加这条概要为！【' + name + '】的入门描述信息么？', function (r) {
            if (!r) {
                return;
            }

            var status = $("#upd_status").val();

            $.ajax({
                type: "POST",
                url: "webApp/addPreliminary",
                contentType: "application/json",
                data: JSON.stringify({
                    "preliminary_name": updPreliminaryName,
                    "status": status
                }),
                success: function (data, status) {
                    var jsonObj = JSON.parse(data);
                    if (status == "success" && jsonObj.code == "1000") {
                        $('#addEditPreliminaryDiv').modal('hide');
                        $("#preliminaryBasisTable").bootstrapTable('refresh');
                    } else if (jsonObj.code == "9999") {
                        /*session超时*/
                        loginOutAjax();
                    }
                },
                error: function () {
                    alertDanger('提示信息：发生系统错误,请联系运维人员进行排查。！');
                },
                complete: function () {
                }
            });
        });
    }

    /*更新问题信息*/
    function updSave() {
        var code = $("#upd_preliminary_id").val();
        if ("" == code || null == code) {
            alertWarning('提示信息：当前入门信息数据存在问题，入门id不能为空！');
            return;
        }
        var oldCreationPer = $("#old_creation_per").val();
        var name = $("#upd_preliminary_name").val();
        var updPreliminaryName = $("#upd_preliminary_name").val();
        if ("" == name || null == name) {
            alertWarning('提示信息：入门描述信息不能为空！');
            return;
        }
        var updStatus = $("#upd_status").val();
        if (name.length > 8) {
            name = name.substring(0, 9) + "...";
        }
        win.confirm('系统提示', '警告！您确定要修改这条问题概要为！【' + name + '】的信息么？', function (r) {
            if (!r) {
                return;
            }
            var key = CryptoJS.enc.Utf8.parse(ALLENCRYPTCODE);
            // Encrypt
            //把私钥转换成16进制的字符串
            var encrypted = CryptoJS.AES.encrypt(code, key, {
                mode: CryptoJS.mode.ECB,
                padding: CryptoJS.pad.Pkcs7
            });
            code = encrypted.toString();
            $.ajax({
                type: "POST",
                url: "webApp/updPreliminary",
                contentType: "application/json",
                data: JSON.stringify({
                    "id": code,
                    "preliminary_id": code,
                    "status": updStatus,
                    "preliminary_name": updPreliminaryName,
                    "creation_per": oldCreationPer
                }),
                success: function (data, status) {
                    var jsonObj = JSON.parse(data);
                    if (status == "success" && jsonObj.code == "1000") {
                        $('#addEditPreliminaryDiv').modal('hide');
                        $("#preliminaryBasisTable").bootstrapTable('refresh');
                    } else if (jsonObj.code == "9999") {
                        /*session超时*/
                        loginOutAjax();
                    }
                },
                error: function () {
                    alertDanger('提示信息：发生系统错误,请联系运维人员进行排查。！');
                },
                complete: function () {
                }
            });
        });
    }

    //返回选中的类别信息的整个json
    function getInputWithJson(val) {
        for (var i = 0; i < arrQuestionJson.length; i++) {
            var id = arrQuestionJson[i].id;
            if (val == id) {
                return arrQuestionJson[i];
            }
        }
        return [];
    }

    //changed.jstree,jstree改变时发生的事件，类似的还有select_node.jstree等，api中有。

    //jstree单击事件
    $("#questionTree").bind("select_node.jstree", function (e, data) {
        if (data.node.id != 1) {                           //排除第一个节点(2011民事案由)
            data.instance.toggle_node(data.node);        //单击展开下面的节点
        }
    });


    //输入框输入定时自动搜索
    var to = false;
    $('#search_ay').keyup(function () {
        if (to) {
            clearTimeout(to);
        }
        to = setTimeout(function () {
            $('#questionTree').jstree(true).search($('#search_ay').val());
        }, 250);
    });
    /*默认关闭问题分类信息展示列表*/
    $('#questionTypeModal').modal('hide');
    /*默认关闭问题回复新增页面的div*/
    $('#detailPreliminaryDiv').modal('hide');

    function questionQuery() {
        arrQuestionJson = [];
        $('#questionTree').data('jstree', false).empty();
        $('#questionTypeModal').modal('show');
        $.ajax({
            type: "POST",
            url: "webApp/treeGrid",
            contentType: "application/json",
            data: JSON.stringify({
                "id": null
            }),
            success: function (data, status) {
                var jsonObj = JSON.parse(data);
                if (status == "success" && jsonObj.code == "1000") {
                    arrQuestionJson = jsonObj.rows;
                    var ay_mssys =
                        [
                            {
                                "id": "1",
                                "text": "问题分类信息",
                                "state": {
                                    "opened": true,          //展示第一个层级下面的node
                                    "disabled": true         //该根节点不可点击
                                },
                                "children": convert(jsonObj.rows)
                            }
                        ];
                    $('#questionTree').data('jstree', false).empty();
                    $("#questionTree").jstree({
                        'core': {
                            "multiple": false,
                            'data': ay_mssys,
                            'dblclick_toggle': false          //禁用tree的双击展开
                        },
                        "plugins": ["search"]
                    });
                } else if (jsonObj.code == "9999") {
                    /*session超时*/
                    loginOutAjax();
                }
            },
            error: function () {
                alertDanger('提示信息：发生系统错误,请联系运维人员进行排查。！');
            },
            complete: function () {
            }
        });
        // mounted();
        // configQueryConfig();
    }

    function convert(rows) {
        function exists(rows, parentId) {
            for (var i = 0; i < rows.length; i++) {
                if (rows[i].id == parentId) {
                    return true;
                }
            }
            return false;
        }

        var nodes = [];
        // get the top level nodes
        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
            if (!exists(rows, row.parentId)) {
                nodes.push({
                    id: row.id,
                    text: row.name
                });
            }
        }
        var toDo = [];
        for (var i = 0; i < nodes.length; i++) {
            toDo.push(nodes[i]);
        }
        while (toDo.length) {
            var node = toDo.shift();	// the parent node
            // get the children nodes
            for (var i = 0; i < rows.length; i++) {
                var row = rows[i];
                if (row.parentId == node.id) {
                    var child = {id: row.id, text: row.name};
                    if (node.children) {
                        node.children.push(child);
                    } else {
                        node.children = [child];
                    }
                    toDo.push(child);
                }
            }
        }
        return nodes;
    }

</script>
<script type="text/javascript">
    /*初始化时间控制输入框*/
    $("#creat_dt_begin").datetimepicker({
        minView: "month", //选择日期后，不会再跳转去选择时分秒
        language: 'zh-CN',
        format: 'yyyy-mm-dd',
        autoclose: true,//选中关闭
        todayBtn: true//今日按钮
    });
    /*初始化时间控制输入框*/
    $("#creat_dt_end").datetimepicker({
        minView: "month", //选择日期后，不会再跳转去选择时分秒
        language: 'zh-CN',
        format: 'yyyy-mm-dd',
        autoclose: true,//选中关闭
        todayBtn: true//今日按钮
    });

    /*更新时间控制输入框*/
    $("#update_dt_begin").datetimepicker({
        minView: "month", //选择日期后，不会再跳转去选择时分秒
        language: 'zh-CN',
        format: 'yyyy-mm-dd',
        autoclose: true,//选中关闭
        todayBtn: true//今日按钮
    });
    /*更新时间控制输入框*/
    $("#update_dt_end").datetimepicker({
        minView: "month", //选择日期后，不会再跳转去选择时分秒
        language: 'zh-CN',
        format: 'yyyy-mm-dd',
        autoclose: true,//选中关闭
        todayBtn: true//今日按钮
    });

    $("#creat_dt_begin").datetimepicker("update", '2000-01-01');
    $("#creat_dt_end").datetimepicker('setDate', (new Date()));
    $("#update_dt_begin").datetimepicker("update", '2019-01-01');
    $("#update_dt_end").datetimepicker('setDate', (new Date()));
    $('#questionTypeModal').modal('hide');
    $('#addEditPreliminaryDiv').modal('hide');


    /*打开问题回复信息新增页面*/
    function questionRelease() {
        var rows = $("#preliminaryBasisTable").bootstrapTable("getSelections");//得到选中的列
        if (rows.length == 1) {
            var id = rows[0].id;
            if ("" == id || null == id) {
                alertWarning('提示信息：请选择一个问题信息！');
                return;
            }
            var name = rows[0].question_content_short;
            /*默认取消发布*/
            var a_alert = "取消发布";
            //默认取消发布
            var if_release = "0";
            if (rows[0].if_release != 1) {
                a_alert = "发布";
                if_release = "1";
            }
            win.confirm('系统提示', '警告！您确定要' + a_alert + '这条问题概要为！【' + name + '】的信息么？', function (r) {
                if (!r) {
                    return;
                }
                $.ajax({
                    type: "POST",
                    url: "webApp/updQuestion",
                    contentType: "application/json",
                    data: JSON.stringify({
                        "id": id,
                        "if_release": if_release
                    }),
                    success: function (data, status) {
                        var jsonObj = JSON.parse(data);
                        if (status == "success" && jsonObj.code == "1000") {
                            alertSuccess('提示信息：操作成功！');
                            $("#preliminaryBasisTable").bootstrapTable('refresh');
                        } else if (jsonObj.code == "9999") {
                            /*session超时*/
                            loginOutAjax();
                        }
                    },
                    error: function () {
                        alertDanger('提示信息：发生系统错误,请联系运维人员进行排查。！');
                    },
                    complete: function () {
                    }
                });
            });
        } else {
            alertWarning("消息提醒, 警告，请选择一行信息进行删除操作。")
        }
    }

    /*打开新增视频页面*/
    function addPreliminaryVideo() {
        var rows = $("#preliminaryBasisTable").bootstrapTable("getSelections");//得到选中的列
        if (rows.length == 1) {
            $("#detail_preliminary_id").val(aesDeciphering(rows[0].id));
            $("#detail_preliminary_name").val(rows[0].preliminary_name);
            $("#detail_preliminary_status").val("");
            $("#detail_fil_path").val("../../helpcenter/videosAndBooks/");
            $("#detail_fil_size").val("");
            $("#detail_fil_type").val("");
            document.getElementById("detail_preliminary_status").disabled = "";
            document.getElementById("detail_preliminary_id").disabled = "disabled";
            document.getElementById("detail_preliminary_name").disabled = "disabled";
            $('#detailPreliminaryDiv').modal('show');
            $("#addVideoButton").show();
            $("#addBookButton").hide();
            $("#detailMyQuestionModalLabel").html("入门视频新增");
            document.getElementById("detail_fil_path_div").setAttribute("style", "display:none");

        } else {
            alertWarning("消息提醒, 警告，请选择一行入门信息进行视频新增。")
        }
    }

    /*打开新增手册页面*/
    function addPreliminaryBook() {
        var rows = $("#preliminaryBasisTable").bootstrapTable("getSelections");//得到选中的列
        if (rows.length == 1) {
            $("#detail_preliminary_id").val(aesDeciphering(rows[0].id));
            $("#detail_preliminary_name").val(rows[0].preliminary_name);
            $("#detail_preliminary_status").val("");
            $("#detail_fil_path").val("../../helpcenter/videosAndBooks/");
            $("#detail_fil_size").val("");
            $("#detail_fil_type").val("");
            document.getElementById("detail_preliminary_status").disabled = "";
            document.getElementById("detail_preliminary_id").disabled = "disabled";
            document.getElementById("detail_preliminary_name").disabled = "disabled";
            $("#detailMyQuestionModalLabel").html("入门手册新增");
            $('#detailPreliminaryDiv').modal('show');
            $("#addVideoButton").hide();
            $("#addBookButton").show();
            document.getElementById("detail_fil_path_div").setAttribute("style", "display:none");

        } else {
            alertWarning("消息提醒, 警告，请选择一行入门信息信息进行手册新增。")
        }
    }


    function addPreliminary() {
        $("#addPreliminary").show();
        $("#updQuestion").hide();
        $("#myQuestionModalLabel").html("新增入门信息");
        $("#upd_preliminary_id").val("");
        document.getElementById("upd_preliminary_id").disabled = "disabled";
        document.getElementById("upd_preliminary_name").readOnly = "";
        $('#addEditPreliminaryDiv').modal('show');

    }

    function editQuestion() {
        var rows = $("#preliminaryBasisTable").bootstrapTable("getSelections");//得到选中的列
        if (rows.length == 1) {
            $("#upd_preliminary_id").val(aesDeciphering(rows[0].id));
            $("#upd_preliminary_name").val(rows[0].preliminary_name);
            $("#old_creation_per").val(rows[0].creation_per);
            $("#upd_status").val(rows[0].status);
            $('#addEditPreliminaryDiv').modal('show');
            $("#updQuestion").show();
            $("#addPreliminary").hide();
            document.getElementById("upd_preliminary_name").readOnly = "";
            document.getElementById("upd_preliminary_id").disabled = "disabled";
            $("#myQuestionModalLabel").html("修改入门信息");
        } else {
            alertWarning("消息提醒, 警告，请选择一行信息进行编辑操作。")
        }
    }

    function delPreliminary() {
        var rows = $("#preliminaryBasisTable").bootstrapTable("getSelections");//得到选中的列
        if (rows.length == 1) {
            var id = rows[0].id;
            if ("" == id || null == id) {
                alertWarning('提示信息：请选择一个问题信息！');
                return;
            }
            var name = rows[0].preliminary_name;
            win.confirm('系统提示', '警告！您确定要删除这条名称为【' + name + '】的入门信息么？注意：此举不可恢复。', function (r) {
                if (!r) {
                    return;
                }
                $.ajax({
                    type: "POST",
                    url: "webApp/delPreliminary",
                    contentType: "application/json",
                    data: JSON.stringify({
                        "id": id
                    }),
                    success: function (data, status) {
                        var jsonObj = JSON.parse(data);
                        if (status == "success" && jsonObj.code == "1000") {
                            alertSuccess('提示信息：操作成功！');
                            $("#preliminaryBasisTable").bootstrapTable('refresh');
                        } else if (jsonObj.code == "9999") {
                            /*session超时*/
                            loginOutAjax();
                        }
                    },
                    error: function () {
                        alertDanger('提示信息：发生系统错误,请联系运维人员进行排查。！');
                    },
                    complete: function () {
                    }
                });
            });
        } else {
            alertWarning("消息提醒, 警告，请选择一行信息进行删除操作。")
        }
    }

    /*打开新增问题页面，点击选择类别按钮*/
    function checkQuestionType() {
        $('#questionTypeModal').modal('show');
        questionQuery();
        questionQuery();
    }

    /*打开问题类别页面，选中一个保存用户类别信息*/
    function saveQuestionType() {
        $("#upd_question_type_name").val($("#name").val());
        $("#upd_question_type_id").val($("#question_type_id").val());
        $('#questionTypeModal').modal('hide');
    }

    function queryList() {
        var creat_dt_begin = $("#creat_dt_begin").val();
        var creat_dt_end = $("#creat_dt_end").val();
        var update_dt_begin = $("#update_dt_begin").val();
        var update_dt_end = $("#update_dt_end").val();
        /*验证时间输入是否合理*/
        if (!checkTime(creat_dt_begin, creat_dt_end, update_dt_begin, update_dt_end)) {
            return;
        }
        $("#preliminaryBasisTable").bootstrapTable('refresh');
    }


    //初始化得到查询的参数
    function queryParams(params) {
        var userId = $("#user_id").val();
        if (null == userId || userId.length == 0) {
            /*如下表示用户号不作为查询条件*/
            userId = "1122-zzii122.11kkqqlloo";
        }
        var key = CryptoJS.enc.Utf8.parse(ALLENCRYPTCODE);
        // Encrypt
        //把私钥转换成16进制的字符串
        var encrypted = CryptoJS.AES.encrypt(userId, key, {
            mode: CryptoJS.mode.ECB,
            padding: CryptoJS.pad.Pkcs7
        });
        userId = encrypted.toString();
        var creat_dt_begin = $("#creat_dt_begin").val();
        var creat_dt_end = $("#creat_dt_end").val();
        var update_dt_begin = $("#update_dt_begin").val();
        var update_dt_end = $("#update_dt_end").val();
        var status = $("#selest_status").val();
        /*验证时间输入是否合理*/
        if (!checkTime(creat_dt_begin, creat_dt_end, update_dt_begin, update_dt_end)) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                // limit: params.limit,   //页面大小
                offset: params.offset,  //页码
                pageSize: this.pageSize,
                pageNumber: this.pageNumber
            };
            return temp;
        }
        var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
            // limit: params.limit,   //页面大小
            offset: params.offset,  //页码
            pageSize: this.pageSize,
            pageNumber: this.pageNumber,
            qrytype: "6UBbCfUYWSU=", /*查询入门信息列表类型1110*/
            userid: userId,
            status: status,
            qrytmbegin: creat_dt_begin,
            qrytmend: creat_dt_end,
            qrytmbeginupd: update_dt_begin,
            qrytmendupd: update_dt_end,
            length: 6
        };
        return temp;
    };

    //查询个人问题基本信息表
    $('#preliminaryBasisTable').bootstrapTable({
        url: "webApp/queryPreliminary",
        method: 'post',
        dataType: "json",
        queryParams: queryParams,
        classes: 'table',//边框
        undefinedText: '',//当数据为 undefined 时显示的字符
        sortable: true,
        pagination: true,//启动分页
        paginationLoop: true,
        pageNumber: 1,
        pageSize: 10,
        pageList: [1, 5, 10, 20, 100],
        striped: true,
        showColumns: true,  //显示下拉框勾选要显示的列
        sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
        showRefresh: true,  //显示刷新按钮
        showToggle: true,//显示一行是否改成竖着
        showPaginationSwitch: true,//是否显示 下面的分页框
        height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
        search: false, //显示搜索框
        detailView: true,
        toolbal: '#toolbar',
        detailFormatter: function (index, row) {
            return JSON.stringify(row);
        },
        columns: [{
            field: 'checkbox',
            title: 'checkbox',
            checkbox: true
        }, {
            field: 'number',
            title: '序号',
            formatter: function (value, row, index) {
                return index + 1;
            }
        }, {
            field: 'id',
            title: '入门id',
            align: 'center',
            formatter: function (value, row, index) {
                return aesDeciphering(value);
            }
        }, {
            field: 'preliminary_name',
            title: '入门名称',
            width: 200,
            align: 'center'
        }, {
            field: 'video_num',
            title: '视频个数',
            align: 'center'
        }, {
            field: 'manual_num',
            title: '手册个数',
            align: 'center'
        }, {
            field: 'status',
            title: '有效标志',
            align: 'center',
            formatter: function (value, row, index) {
                return configStatusType(value);
            }
        }, {
            field: 'creation_per',
            title: '操作员',
            align: 'center',
            formatter: function (value, row, index) {
                return aesDeciphering(value);
            }
        }, {
            field: 'ip',
            title: '操作用户ip',
            align: 'center'
        }, {
            field: 'creation_dt',
            title: '创建日期',
            align: 'center'
        }, {
            field: 'creation_tm',
            title: '创建时间',
            align: 'center'
        }, {
            field: 'update_tm',
            title: '更新时间',
            align: 'center'
        }, {
            field: 'remark1',
            title: '备用字段1',
            align: 'center'
        }, {
            field: 'file_path',
            title: '',
            align: 'center'
        }, {
            field: 'tm_smp',
            title: '时间戳',
            align: 'center'
        }],
        onLoadSuccess: function (data) {
            $('#preliminaryBasisTable').bootstrapTable('hideColumn', 'file_path');// 设置隐藏列
            if (data.code == "1005") {
                alertWarning('消息提醒：数据为空！');
                $('#preliminaryBasisTable').bootstrapTable('load', {total: 0, rows: []});
            } else if (data.code == "9999") {
                /*session超时*/
                loginOutAjax();
            } else if (data.code != "1000") {
                alertWarning('提示信息：查询失败！');
                $('#preliminaryBasisTable').bootstrapTable('load', {total: 0, rows: []});
            }
        },
        onLoadError: function () {
            alertWarning('提示信息：数据加载失败！');
        },
        onDblClickRow: function (contentlist, $element) {
        },
        showExport: phoneOrPc(),              //是否显示导出按钮(此方法是自己写的目的是判断终端是电脑还是手机,电脑则返回true,手机返回falsee,手机不显示按钮)
        exportDataType: "basic",              //basic', 'all', 'selected'.
        exportTypes: ['excel', 'xlsx'],	    //导出类型
        //exportButton: $('#btn_export'),     //为按钮btn_export  绑定导出事件  自定义导出按钮(可以不用)
        exportOptions: {
            //ignoreColumn: [0,0],            //忽略某一列的索引
            fileName: '数据导出',              //文件名称设置
            worksheetName: 'Sheet1',          //表格工作区名称
            tableName: 'integration_basis',
            excelstyles: ['background-color', 'color', 'font-size', 'font-weight']
        }
    });


    /*判断终端是手机还是电脑--用于判断文件是否导出(电脑需要导出)*/
    function phoneOrPc() {
        var sUserAgent = navigator.userAgent.toLowerCase();
        var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
        var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
        var bIsMidp = sUserAgent.match(/midp/i) == "midp";
        var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
        var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
        var bIsAndroid = sUserAgent.match(/android/i) == "android";
        var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
        var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
        if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
            return false;
        } else {
            return true;
        }
    }

</script>
<script type="text/javascript">
    $.get("menu.html", function (mdata) {
        $("#menuDiv").html(mdata);
    });
    $.get("updpass.html", function (mdata) {
        $("#updPassWdDiv").html(mdata);
    })
</script>
</html>




